{% extends 'catalog/base.html' %}
{% load static %}
{% load blog_tags %}

{% block internal_navigation %}
{% endblock %}

{% block content %}
<div class="container bg-green my-5">
    <h1 class="text-white p-3">Добавление новой статьи или рецепта</h1>

    <div class="row">
        <div class="col-7">

            <form method="POST" class="p-3 fs-5 needs-validation" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container p-0">
                    <div class="row">
                        <div class=" mb-3">
                            <label for="blogTitle" class="form-label">Заголовок статьи или рецепта</label>
                            <input type="text" name="title" class="form-control" id="blogTitle" required
                                   value="{{object.title}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="blogMessage" class="form-label">Текст статьи или рецепта</label>
                            <textarea class="form-control" name="message" id="blogMessage" rows="6"
                                      placeholder="Для форматирования в тексте можно применять html"
                            >{{object.message}}</textarea>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            {% if object and object.preview != '' %}
                            <div class="col-3">
                                <img src="{{ object.preview|mediapath }}" class="rounded img-fluid">
                            </div>
                            <div class="col-9">
                            {% else %}
                            <div class="col-12">
                            {% endif %}
                                <label for="blogPreview" class="form-label">Превью для статьи или рецепта</label>
                                <input type="file" name="preview" class="form-control mb-2" id="blogPreview">
                            </div>
                        </div>
                    </div>

                    {% if object %}
                    <div class="row ps-3">
                        <div class="form-check form-switch mb-3">
                            <label class="form-check-label" for="blogIsPublished">Опубликовано</label>
                            <input class="form-check-input" type="checkbox" role="switch" name="is_published"
                                   id="blogIsPublished"
                                   {% if object.is_published %}
                                   checked
                                   {% endif %}
                            >
                        </div>
                    </div>
                    {% endif %}

                    <button type="submit" class="btn btn-light my-3">
                        {% if object %}
                        Изменить
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>

        <div class="col-5 p-5">
            <img src="{% static 'blog/img/create_img.png' %}" class="img-fluid p-5">
        </div>
    </div>
    <div class="row-col p-3">
        <a href="{% url 'blog:list' %}" class="text-white">К списку статей (рецептов)</a>
    </div>
</div>
{% endblock %}
