{% extends 'catalog/base.html' %}
{% load static %}
{% load catalog_tags %}

{% block internal_navigation %}
{% endblock %}

{% block content %}
<div class="container bg-green my-5">
    <h1 class="text-white p-3">
        {% if object %}
        Редактирование доставки
        {% else %}
        Добавление новой доставки
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-6">
            <form method="POST" class="p-3 fs-5 needs-validation" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-light my-3">
                    {% if object %}
                    Изменить
                    {% else %}
                    Добавить
                    {% endif %}
                </button>
                <a href="{% url 'catalog:index' %}" class="btn btn-light my-3">
                    На главную
                </a>
            </form>
        </div>

        {% if object %}
        <div class="col-6 px-5 pt-1 fs-5">
            <h4 class="text-white">Информация о продукте</h4>
            <h3>Категория: {{ delivery.product.category|lower }}</h3>
            <h1 class="pt-4">{{ delivery.product.name }}</h1>
            <p class="fs-5">{{ delivery.product.description }}</p>
            <h3 class="py-4">Цена: {{ delivery.product.price }} Руб/кг</h3>
            <p>Первые доставки: {{ delivery.product.created_at|date:'d.m.Y' }}<br/>
                Последние изменения {{ delivery.product.changed_at|date:'d.m.Y' }}</p>
        </div>
        {% else %}
        <div class="col-6 px-5 pt-1 fs-5">
            <h4 class="text-white">Информация о продукте</h4>
            <h3>Категория: {{ product.category|lower }}</h3>
            <h1 class="pt-4">{{ product.name }}</h1>
            <p class="fs-5">{{ product.description }}</p>
            <h3 class="py-4">Цена: {{ product.price }} ₽/кг</h3>
            <p>Первые доставки: {{ product.created_at|date:'d.m.Y' }}<br/>
                Последние изменения {{ product.changed_at|date:'d.m.Y' }}</p>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
