{% extends 'catalog/base.html' %}
{% load static %}
{% load catalog_tags%}

{% block internal_navigation %}
{% endblock %}

{% block content %}
<div class="container bg-red my-5">
    <div class="row p-3">
        <div class="col-6 text-black">
            <h3>Категория: {{ product.category|lower }}</h3>
            <h1 class="pt-4">{{ product.name }}</h1>
            <p class="fs-5">{{ product.description }}</p>
            <h3 class="py-4">Цена: {{ product.price }} Руб/кг</h3>
            <p>Первые поставки: {{ product.created_at|date:'d.m.Y' }}<br/>
                Последние изменения {{ product.changed_at|date:'d.m.Y' }}</p>
            <a href="{% url 'catalog:index' %}" class="text-black">На главную</a>
            <a href="{% url 'catalog:new_product' %}" class="text-black px-4">Добавить продукт</a>
        </div>
        <div class="col-6 p-0 text-end align-self-center">
            <img src="{% mediapath product.image%}" class="img-fluid" alt="{{ product.name }}">
        </div>
    </div>
</div>
{% endblock %}