{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% load static %}


{% block internal_navigation %}
<ul class="nav justify-content-center">
    {% for item in data %}
    <li class="nav-item">
        <a class="nav-link link-body-emphasis fs-5"
           href="#{{ item.category.pk }}">
            {{ item.category.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}


{{% block content %}
<div class="container my-5 text-black   ">
    <div class="row bg-white">
        <div class="col-6 p-20 align-self-center">
            <p class="fs-1">Продукция из мяса птицы и свинины</p>
            </div>
        <div class="col-13">
            <img src="{% static 'catalog/img/main_image_icon.png' %}" class="img-fluid"/>
        </div>
    </div>
</div>

{% for item in data %}
<div class="{% bg_light_color forloop.counter %} py-3">
    <div class="container">
        <h1 id="{{ item.category.pk }}" class="py-3 {% text_color forloop.counter %}">
            {{ item.category.name }}
        </h1>

        <div class="container pb-5">
            <div class="row row-cols-4 g-4">
                {% for product in item.products %}
                <div class="col">
                    <div class="card {% bg_light_color forloop.parentloop.counter %} h-100" >

                        <a href="{% url 'catalog:view' product.pk %}">
                            <img src="{% mediapath product.image %}"
                             class="card-img-top img-fluid pt-3">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name|slice:':23' }}</h5>
                            <p class="card-text mb-0">Цена: {{ product.price }} Руб/кг</p>
                            {% if product.current_delivery %}
                            <p class="card-text"> Текущая доставка: {{ product.current_delivery.delivery_date|date:'d.m.Y' }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-center">
                            {% if perms.catalog.can_moderate or product.owner == user %}
                            <a href="{% url 'catalog:update' product.pk %}"
                               class="btn btn-warning
                                      {% bg_dark_color forloop.parentloop.counter %}
                                      text-white border-0">
                                <i class="bi bi-pencil"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}